<!----<div class="center">
  <h1> ART </h1>
  <h2> This is Alecs websitearu </h2>
</div>
---->
<div>
    <% @posts.each do |post| %>
      <div class="update">
        <!---- adds posts ----->
        <span class="content"><%= post["content"] %>
        </span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(post["created_at"]) %> ago.
        </span>
      </div>
    <% end %>
</div>
